* * * * * curl https://www.sfitfu.com/webhooks/3ab62eef83/queue >/proc/1/fd/1 2>/proc/1/fd/2

* * * * * curl https://www.sfitfu.com/webhooks/3ab62eef83/schedule >/proc/1/fd/1 2>/proc/1/fd/2

# An empty line is required at the end of this file for a valid cron file.
